$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';


body {
  font-family: 'Press Start 2P', monospace;
}
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'actions/actions.scss';
@import 'cartodb/cartodb.scss';
@import 'gamecounters/gamecounters.scss';
@import 'infowindows/infowindow.scss';
@import 'main/main.scss';
@import 'pixelate/pixelate.scss';
// endinjector
.leaflet-bar {
  box-shadow: none !important;

  border: none;
}
.leaflet-bar a:last-child {
    border-bottom: 3px solid #8B5F34 !important;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  border: 3px solid #8B5F34;
  font-family: 'Press Start 2P', monospace;
}
.cartodb-infowindow, .cartodb-tooltip, .cartodb-popup-content, .cartodb-tooltip-content {
  h4, p {
  font-family: 'Press Start 2P', monospace !important;
  padding:3px;
  }
}