<div ng-show="showActionWindow" class="action-window">
  <div ng-click="closeActionWindow()" class="action-close float-right">&times;</div>
  <h3 class="info-title">{{selectedAction.name}}</h3>
  
  <hr style="border-bottom: 3px solid #8B5F34;"/>
  <div>{{selectedAction.description}}</div>

  <div style="margin-top:1em;"><a ng-show="selectedAction.moreInfo" target="_blank" ng-attr-href="{{selectedAction.moreInfo}}">Read more</a></div>



  <div class="actioncancel" ng-click="closeActionWindow()">CANCEL</div>
  <div class="actionconfirm" ng-click="doAction(selectedAction)">OK</div>
</div>
