<div ng-show="showInfoWindow" class="info-window" >
  <div ng-click="closeInfoWindow()" class="info-close float-right">&times;</div>
  <h3 class="info-title">{{heading}}</h3>

  <hr style="border-bottom: 3px solid #8B5F34;"/>
  <!--div style="min-height:300px" ng-show="imageurl" pixelate></div-->
  <img ng-show="imageurl" style="float:left;margin-right:2em;margin-bottom:2em;" ng-src="{{imageurl}}">
  <div style="margin:1em">{{description}}</div>

  <div style="margin:1em"><a ng-show="moreInfo" target="_blank" ng-attr-href="{{moreInfo}}">Read more</a></div>


  
  <div style="margin:1em;color:red" ng-repeat="variation in variations">
    <div ng-show="variation.showVariation">{{variation.thenText}}</div>
    <div ng-hide="variation.showVariation">{{variation.elseText}}</div>
  </div>

  <div class="actioncancel" ng-show="layerJSON" ng-click="showMap(layerJSON)">View on map</div>
</div>